/* General */

:root {
	--background-color: Beige;
	--body-font-size: 13pt;
	--button-color: DarkGray;
	--input-border-color: Silver;
	--input-text-color: LightSeaGreen;
	--text-color: DarkSlateGray;
	--tooltip-background-color: FloralWhite;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: sans-serif;
	font-size: var(--body-font-size);
}

.optionsPage {
	padding: 10px 0 0;
}

/* Appears in browser_action.html */
#settingsIcon {
	cursor: pointer;
	float: right;
	height: 1.25em;
	position: relative;
	right: .5em;
	width: 1.25em;
}

/* Header */

header {
	background: wheat;
	left: 0;
	margin: 0;
	padding: .4em 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

#tabsButtons {
	display: flex;
	justify-content: center;
	margin: 0 0 0 -4em;
}
.tabButton {
	border-color: white;
	border-style: solid;
	border-width: 0 2px 0 0;
	cursor: pointer;
	font-size: 13pt;
	padding: 0 2em;
	text-align: center;
}

.tabButton.selected {
	color: var(--button-color);
}

/* Form Contents */

.tab {
	display: none;
}

.tab.selected {
	display: table;
}

h1,
h2,
th {
	color: MediumSeaGreen;
	font-family: cursive;
	font-size: 20pt;
	text-align: center;
}

h2,
th {
	font-size: 15pt;
	padding: .83em 0;
}

input,
textarea {
	background: var(--background-color);
	border-radius: .4em;
	border: 1px solid var(--input-border-color);
	color: var(--input-text-color);
	font-size: 11pt;
	padding: .5em;
}

textarea {
	background: var(--background-color);
	color: DarkCyan;
}


select {
	background: var(--background-color);
	border-radius: .4em;
	border: 1px solid var(--input-border-color);
	color: var(--input-text-color);
	font-size: 11pt;
	padding: .5em;
}

.containerIcon {
	display: inline-block;
	height: 1em;
	vertical-align: middle;
	width: 1em;
}

input[name=containers],
#containersAuto {
	vertical-align: middle;
}

#containersAuto:checked ~ #containers {
	display: none;
}

#CSSdiv {
	display: grid;
	margin: .5em;
}

#daily-crystals-text {
	color: var(--input-text-color);
	text-align: center;
}

#formButtonsOutput {
	color: var(--input-text-color);
	text-align: center;
}

#wireFrequency {
	padding: .25em .1em .25em .25em;
}

#dailyCrystals {
	margin: .5em 0 0;
}

#customCSS {
	white-space: pre;
}

/* Tables Layout */

table,
th,
td {
	border-collapse: collapse;
	border: 2px solid LightSteelBlue;
}

table {
	margin: 0 auto;
}

td {
	padding: .25em;
}

.optionsPage td {
	height: 2.7em;
	padding: 0 .5em;
}

.optionsPage table {
	margin: 2em auto auto;
	table-layout: fixed;
	width: 26em;
}

#col_1_1 {width: 60%;}
#col_1_2 {width: 40%;}

#col_2_1 {width: 10%;}
#col_2_2 {width: 45%;}
#col_2_3 {width: 45%;}

#col_3_1 {width: 42%;}
#col_3_2 {width: 58%;}

#col_4_1 {width: 43%;}
#col_4_2 {width: 57%;}

#col_5_1 {width: 40%;}
#col_5_2 {width: 60%;}

.checkboxtd {
	text-align: center;
}

#containerstr td {
	height: auto;
	padding: .5em;
	vertical-align: top;
}

/* Tooltips */
.warning, .info {
	float: right;
	height: 1.25em;
	margin: 0 0 0 5px;
	position: relative;
	width: 1.25em;
}

.warning {
	background: url('../images/warning.svg');
}

.info, .titleInfo {
	background: url('../images/info.svg');
}

.titleInfo {
	display: inline-block;
	font-family: sans-serif;
	font-size: var(--body-font-size);
	font-weight: normal;
	height: 1.4em;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 1.4em;
}

.warning:hover::after, .info:hover::after, .titleInfo:hover::after, .required:hover::after {
	background: var(--tooltip-background-color);
	border-radius: .75em;
	border: 1px var(--input-border-color) solid;
	content: attr(data-tooltip);
	left: -127.5px;
	min-width: 255px;
	padding: .5em;
	position: absolute;
	top: 1.75em;
	white-space: pre-line;
	z-index: 98;
}

.warning:hover::after {
	color: IndianRed;
}

.info:hover::after, .titleInfo:hover::after {
	color: CadetBlue;
}

.required {
	color: red;
	position: relative;
}

.required[data-tooltip] {
	border-bottom: 1px dotted black;
}

.required:hover::after {
	color: goldenrod;
}

/* Buttons */
#formButtons {
	display: flex;
	justify-content: center;
	margin: 5em 0 0;
}

button {
	align-items: center;
	background: OldLace;
	border: 2px solid var(--button-color);
	color: var(--button-color);
	cursor: pointer;
	display: inline-flex;
	font-size: var(--body-font-size);
	height: 40px;
	justify-content: center;
	margin: 2em .5em 0;
	overflow: hidden;
	position: relative;
	width: 150px;
}

button span {
	position: relative;
	transition: all .5s ease-Out;
}

button:hover span {
	color: var(--text-color);
}

.circle {
	background: var(--button-color);
	border-radius: 50%;
	height: 0%;
	left: 70px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	top: 20px;
	transition: all .5s ease-Out;
	width: 0%;
}

button:hover .circle {
	height: 500%;
	left: -70px;
	opacity: 1;
	top: -70px;
	width: 200%;
}

#resetCSS {
	margin: .5em .5em 0;
	width: auto;
}