/* general */
:root {
	--body-font-size: 13pt;
	--tooltip-background-color: FloralWhite;
	--background-color: Beige;
	--input-border-color: Silver;
	--input-text-color: LightSeaGreen;
	--text-color: DarkSlateGray;
	--button-color: DarkGray;
}

body {
	font-family: sans-serif;
	font-size: var(--body-font-size);
	background-color: var(--background-color);
	color: var(--text-color);
}

#top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 99;
	padding: 0.4em 0;
	background-color: wheat;
}

h1, h2 {
	font-family: cursive;
	color: MediumSeaGreen;
	text-align: center;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 15pt;
}

#settings {
	margin-top: 10em
}

#optionsPage {
	padding-top: 10px;
}

#settingsIcon {
	position: relative;
	float: right;
	right: 0.5em;
	width: 1.25em;
	height: 1.25em;
	cursor: pointer;
}

#dailyCrystals + div {
	text-align: center;
	color: var(--input-text-color);
}

#formButtonsOutput {
	color: var(--input-text-color);
	text-align: center;
}

input {
	font-size: 11pt;
	padding: 0.5em;
	border: 1px solid var(--input-border-color);
	background-color: var(--background-color);
	color: var(--input-text-color);
	border-radius: 0.4em;
}

select {
	margin: 0.25em;
	font-size: 11pt;
	padding: 0.5em;
	border: 1px solid var(--input-border-color);
	background-color: var(--background-color);
	color: var(--input-text-color);
	border-radius: 0.4em;
}

/* tables */
table, th, td {
	border: 2px solid LightSteelBlue;
	border-collapse: collapse;
}

table {
	margin-right: auto;
	margin-left: auto;
}

td {
	padding: 0.25em;
}

#optionsPage td {
	height: 2.7em;
	padding: 0 0.5em
}

#optionsPage table {
	table-layout: fixed;
	width: 26em;
	margin-top: 2em;
}

#col_1_1 {width: 60%;}
#col_1_2 {width: 40%;}

#col_2_1 {width: 10%;}
#col_2_2 {width: 45%;}
#col_2_3 {width: 45%;}

#col_3_1 {width: 43%;}
#col_3_2 {width: 57%;}

#col_4_1 {width: 42%;}
#col_4_2 {width: 58%;}

.checkboxtd {
	text-align: center;
}

/* tooltips */
.warning, .info {
	position: relative;
	width: 1.25em;
	height: 1.25em;
	float: right;
	margin-left: 5px;
}

.warning {
	background-image: url("../images/warning.svg");
}

.info, .titleInfo {
	background-image: url("../images/info.svg");
}

.titleInfo {
	position: relative;
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	vertical-align: middle;
	font-size: var(--body-font-size);
	font-weight: normal;
	font-family: sans-serif;
	text-align: left;
}

.warning:hover::after, .info:hover::after, .titleInfo:hover::after,	 [data-tooltip]:hover::after{
	white-space: pre-line;
	content: attr(data-tooltip);
	position: absolute;
	top: 1.75em;
	left: -127.5px;
	z-index: 98;
	min-width: 255px;
	padding: 0.5em;
	background-color: var(--tooltip-background-color);;
	border: 1px var(--input-border-color) solid;
	border-radius: 0.75em;
}

.warning:hover::after {
	color: IndianRed;
}

.info:hover::after, .titleInfo:hover::after {
	color: CadetBlue;
}

.required {
	color: red;
	position: relative;
}

.required[data-tooltip] {
	border-bottom: 1px dotted black;
}

.required:hover::after {
	color: goldenrod;
}

/* buttons */
#formButtons {
	display: flex;
	justify-content: center;
}

button {
	font-size: var(--body-font-size);
	cursor: pointer;
	display: inline-flex;
	height: 40px;
	width: 150px;
	margin: 2em 0.5em 0;
	border: 2px solid var(--button-color);
	color: var(--button-color);
	background-color: OldLace;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

button span {
	position: relative;
	transition: all .5s ease-Out;
}

button:hover span {
	color: var(--text-color);
}

#circle {
	width: 0%;
	height: 0%;
	opacity: 0;
	line-height: 40px;
	border-radius: 50%;
	background: var(--button-color);
	position: absolute;
	transition: all .5s ease-Out;
	top: 20px;
	left: 70px;
}

button:hover #circle {
	width: 200%;
	height: 500%;
	opacity: 1;
	top: -70px;
	left: -70px;
}

/* tabs */
#tabsButtons {
	display: flex;
	justify-content: center;
	margin-left: -4em;
}
.tabButton {
	padding: 0 2em;
	text-align: center;
	cursor: pointer;
	font-size: 13pt;
	border-style: solid;
	border-width: 0 2px 0 0;
	border-color: white
}

.tabButton.selected {
	color: var(--button-color);
}

.tab {
	display: none;
}

.tab.selected {
	display: table;
}